@charset "UTF-8";
/* =========== UTILS ===========*/
/* ====================== Палитра ==================================*/
/*Основной цвет текста #212121*/
/*Вторичный цвет текста #757575 */
/*Фоновый цвет #FFFFFF */
/*Акцент #2196F3*/
/*Футер #2F303A*/
/* ====================== visually-hidden =====================================*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ===========BASE===========*/
/* ====================== Базовый сброс =============================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #212121;
  margin: 0;
}

/* ====================== Container ================================*/
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

/* =========== COMPONENTNS ===========*/
.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    width: 100%;
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.section.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .title {
    font-style: normal;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
  }
}

/* ====================== Components ================================*/
.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  color: #2196f3;
  text-decoration: none;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

/* ======================Backdrop===================================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* ======================MODAL-WINDOW-MOBILE,TABLET===================================*/
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  max-width: 450px;
  height: 96%;
  max-height: 609px;
  overflow-y: scroll;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ====================== MODAL-FORM-DASKTOP ===========================================*/
@media screen and (min-width: 1200px) {
  .modal-window {
    min-width: 528px;
    min-height: 580px;
    overflow: hidden;
  }
}

/* ======================MODAL-FORM-MOBILE,TABLET===================================*/
.modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:focus, .modal-button-close:hover {
  outline: none;
  cursor: pointer;
}

.modal-button-close .modal-close-svg {
  display: flex;
  width: 18px;
  height: 18px;
  fill: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-button-close:hover .modal-close-svg {
  fill: #2196f3;
}

.title-form {
  margin: 2px 40px 12px 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.label {
  position: relative;
  margin: 10px auto 4px 40px;
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}

.modal-input {
  display: block;
  margin: 0 auto;
  padding-left: 42px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-input:focus {
  outline: 1px solid #2196f3;
  cursor: pointer;
}

.modal-form-icon-thumb {
  position: relative;
}

.modal-form-icon-thumb .modal-icon-svg {
  position: absolute;
  left: 12%;
  top: 30%;
  fill: #212121;
  display: block;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-input:focus + .modal-icon-svg {
  fill: #2196f3;
  cursor: pointer;
}

.modal-texterea {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 370px;
  height: 120px;
  resize: none;
  /*убрать растягивания окна в текстариа*/
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-texterea:focus {
  outline: 1px solid #2196f3;
  cursor: pointer;
}

.modal-button-sent {
  margin: 30px auto 40px auto;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  background: #188ce8;
  border-radius: 4px;
}

.modal-button-sent:hover, .modal-button-sent:focus {
  cursor: pointer;
  outline: none;
  border: none;
}

/* ====================== MODAL-FORM-DASKTOP ===========================================*/
@media screen and (min-width: 1200px) {
  .modal-input {
    margin: 4px auto 10px auto;
    width: 448px;
    height: 40px;
  }
  .modal-texterea {
    width: 448px;
    height: 120px;
  }
  .modal-icon-svg {
    left: 10%;
  }
}

/* ====================== CHECKBOX ===========================================*/
.label-checkbox {
  margin: 20px auto 0 auto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.label-checkbox::before {
  display: inline-block;
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 15px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  border: 1px solid  #212121;
}

.input-checkbox:checked + .label-checkbox::before {
  background-color: #2196f3;
}

.checkbox-link {
  color: #2196F3;
}

/* ===========LAYOUT===========*/
/* ====================== HEADER-MOBILE =====================================*/
.header {
  border: 1px solid #ECECEC;
}

.header .logo {
  margin: 16px auto 16px 15px;
  padding: 0;
}

.navi-list .link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-list .link:hover, .navi-list .link:focus {
  color: #2196f3;
}

.navi-list .link.current {
  color: #2196f3;
}

.header-contact .link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

/* ====================== HEADER-MOBILE-MENU =====================================*/
@media screen and (max-width: 767px) {
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu .mobile-button-open {
    display: block;
    margin: 22px 0 23px 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #FFFFFF;
  }
  .mobile-button-open:hover .mobile-open-svg {
    fill: #2196f3;
  }
  .header-wraper {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    left: 0%;
    padding: 48px 40px;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .header-wraper.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
  .header-wraper .mobile-button-close {
    position: absolute;
    top: 2%;
    right: 2%;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #FFFFFF;
  }
  .mobile-button-close:hover .mobile-close-svg {
    fill: #2196f3;
  }
  .navi-list .item {
    margin-bottom: 32px;
  }
  .header-contact {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 190px;
    margin-bottom: 0;
  }
  .header-contact .item:first-child {
    margin-bottom: 0;
  }
  .header-contact .item {
    margin-bottom: 32px;
  }
  .header-contact .item .tel {
    color: #2196f3;
  }
  .header-contact .item .mail {
    font-size: 24px;
  }
  .header-contact .icon-header {
    opacity: 0;
  }
  .header-social {
    display: flex;
  }
  .header-social .header-social-link {
    display: inline-block;
    padding: 0 10px;
    margin-top: 50px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

/* ====================== HEADER-TABLET =====================================*/
@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .header-social {
    display: none;
  }
  .header-menu {
    margin-right: 88px;
  }
  .header-menu .logo {
    margin: 26px 0;
  }
  .header-menu .mobile-button-open {
    display: none;
  }
  .header-wraper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .header-wraper .mobile-button-close {
    display: none;
  }
  .navi-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
  }
  .navi-list .item:not(:last-child) {
    margin-right: 50px;
  }
  .navi-list .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .navi-list .link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0%;
    margin-bottom: 0;
    margin-top: 28px;
    display: block;
    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 5px;
  }
  .header-contact {
    margin-left: auto;
    margin-right: 0;
  }
  .header-contact .link {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact .link:hover, .header-contact .link:focus {
    color: #2196f3;
  }
  .header-contact .link .icon-header {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact .link:focus .icon-header,
  .header-contact .link:hover .icon-header {
    fill: #2196f3;
  }
}

/* ====================== HEADER-DASKTOP =====================================*/
@media screen and (min-width: 1200px) {
  .header-menu {
    margin-right: 93px;
  }
  .header-menu .logo {
    margin: 25px  0px;
    min-width: 145px;
  }
  .header-wraper {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .header-wraper .navi-list {
    justify-content: center;
    margin-right: auto;
    margin-left: 0;
  }
  .header-wraper .header-contact {
    display: flex;
    justify-content: flex-end;
  }
  .header-wraper .header-contact .item:not(:last-child) {
    margin-right: 30px;
  }
}

/* ====================== HERO-MOBILE =====================================*/
.overlay {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 400px;
  text-align: center;
  background-image: url(../images/hero/overlay-bg-mobile.png), url(../images/hero/overlay-mobile.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #C4C4C4;
}

.overlay .title {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.overlay .main-button {
  margin: 30px auto 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.9;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #2196F3;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.overlay .main-button:hover, .overlay .main-button:focus {
  outline: none;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/overlay-mobile@2x.jpg);
  }
}

/* ====================== HERO-TABLET =====================================*/
@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../images/hero/overlay-bg-tablet.png), url(../images/hero/overlay-tablet.jpg);
    max-height: 400px;
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/overlay-tablet@2x.jpg);
  }
}

/* ====================== HERO-DASKTOP ================================*/
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    max-height: 600px;
    background-image: url(../images/hero/overlay-bg.png), url(../images/hero/overlay.jpg);
  }
  .overlay .title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/overlay@2x.jpg);
  }
}

/* ====================== FEATURES-MOBILE ===========================================*/
.features-list .item {
  overflow: hidden;
}

.features-list .features-logo {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 120px;
  max-height: 120px;
  border-radius: 4px;
  border: 2px solid #F5F4FA;
  background-color: #F5F4FA;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.features-list .features-logo:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.features-list .features-logo-svg {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.features-list .title-features-list {
  width: 100%;
  margin-top: 30px;
  text-transform: uppercase;
}

.features-list .text {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.71;
  color: #757575;
}

/* ====================== FEATURES-TABLET ===========================================*/
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features-list .features-logo {
    max-width: 354px;
    max-height: 120px;
  }
  .features-list .item {
    max-width: 354px;
  }
  .features-list .item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .features-list .item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

/* ====================== FEATURES-DASKTOP ===========================================*/
@media screen and (min-width: 1200px) {
  .features-list {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .features-list .item {
    max-width: 270px;
  }
  .features-list .item:nth-child(-n+3) {
    margin-right: 30px;
  }
  .features-list .item:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .features-list .title-features-list {
    text-align: left;
  }
  .features-list .features-logo {
    display: block;
    max-width: 270px;
  }
}

/*=====================SPECIALIZATION-MOBILE-TABLET==========================================*/
.specialization {
  display: none;
}

/*=====================SPECIALIZATION-DASKTOP==========================================*/
@media screen and (min-width: 1200px) {
  .specialization {
    display: block;
    padding-top: 0;
  }
  .specialization .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .specialization .list .item:not(:last-child) {
    margin-right: 30px;
  }
  .specialization-thumb {
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 100%;
    height: 294px;
  }
  .specialization-thumb .specialization-title-absolute {
    position: absolute;
    top: 77%;
    left: 0%;
    margin: 0;
    padding-top: 27px;
    width: 100%;
    height: 100%;
    max-height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  }
}

/* ====================== TEAM-MOBILE==========================================*/
.team {
  background-color: #F5F4FA;
}

.team-list {
  margin: 0;
}

.team-list .item {
  width: 100%;
  max-width: 450px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:nth-child(-n+3) {
  margin-bottom: 30px;
}

.team-list .title {
  margin: 30px auto 10px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team-list .text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: #757575;
}

.team-list .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 206px;
  max-height: 44px;
}

.team-list .social-list .social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list .social-list .social-link:hover, .team-list .social-list .social-link:focus {
  background-color: #2196f3;
}

.team-list .social-list .social-logo {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-logo,
.social-link:focus .social-logo {
  fill: white;
}

/* ====================== TEAM-TABLET==========================================*/
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .team-list .item {
    max-width: 354px;
  }
  .team-list .item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-list .item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

/* ====================== TEAM-DASKTOP==========================================*/
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
  .team-list .title {
    margin: 30px inherit 10px inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
  }
  .team-list .item {
    max-width: 270px;
  }
  .team-list .item:nth-child(-n+4) {
    margin-bottom: 0;
  }
  .team-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

/* ====================== CLIENTS-MOBILE ==========================================*/
.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clients-list .item:nth-child(-n+4) {
  margin-bottom: 30px;
}

.link-clients-logo {
  display: flex;
  min-width: 210px;
  min-height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.link-clients-logo:hover, .link-clients-logo:focus {
  border: 1px solid #2196f3;
}

.clients-logo {
  margin: auto;
  width: 45px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.link-clients-logo:hover .clients-logo,
.link-clients-logo:focus .clients-logo {
  fill: #2196f3;
}

/* ====================== CLIENTS-TABLET ==========================================*/
@media screen and (min-width: 768px) {
  .link-clients-logo {
    min-width: 226px;
  }
  .clients-list .item:nth-child(n+4) {
    margin-bottom: 0;
  }
}

/* ====================== CLIENTS-DASKTOP ==========================================*/
@media screen and (min-width: 1200px) {
  .link-clients-logo {
    min-width: 170px;
  }
  .clients-list {
    flex-wrap: nowrap;
    align-items: center;
  }
  .clients-list .item:nth-child(-n+5) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

/* ======================fOOTER-MOBILE=========================================*/
.footer {
  padding: 60px 15px 60px 15px;
  background-color: #2f303a;
}

.footer .logo {
  text-align: center;
}

.footer-left-side .address {
  display: block;
  margin: 20px auto 8px auto;
  font-style: normal;
  line-height: 1.71;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-left-side .contact {
  display: block;
  font-style: normal;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-left-side .contact .item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-social-title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.footer-social-list .footer-social-item {
  margin-right: 10px;
}

.footer-social-list .footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .footer-social-link:hover, .footer-social-list .footer-social-link:focus {
  background-color: #2196f3;
  cursor: pointer;
}

/* ======================FOOTER-FORM-MOBILE=======================================*/
.title-footer-form {
  display: block;
  margin: 0 auto 20px auto;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form-email {
  margin: 0 auto 20px auto;
  padding-left: 16px;
  width: 100%;
  max-width: 450px;
  min-height: 50px;
  text-align: left;
  color: #FFFFFF;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-form-email:focus {
  outline: none;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 29px;
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  outline: none;
  border: none;
  background-color: #2196F3;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:focus, .footer-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer-button .footer-button-logo {
  display: block;
  margin: 13px 28px 13px 10px;
  fill: #FFFFFF;
}

/* ======================fOOTER-TABLET=========================================*/
@media screen and (min-width: 768px) {
  .thumb-footer-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-social-title {
    margin-top: 0;
  }
  .footer-social-list {
    margin-bottom: 0;
  }
  .thumb-form {
    margin-top: 60px;
  }
  .footer-form-email {
    display: block;
    margin: 0 auto 20px auto;
  }
}

/* ======================fOOTER-DASKTOP=========================================*/
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left-side .logo {
    text-align: left;
  }
  .footer-left-side .address {
    text-align: left;
  }
  .footer-left-side .contact {
    text-align: left;
  }
  .footer-social {
    margin-left: 70px;
  }
  .thumb-form {
    margin: 0;
  }
  .thumb-form .title-footer-form {
    margin-top: 0;
    text-align: left;
  }
  .thumb-form .thumb-footer-join {
    display: flex;
  }
  .thumb-form .thumb-footer-join .footer-form-email {
    margin: 0 auto;
    margin-right: 12px;
    min-width: 358px;
  }
  .thumb-form .thumb-footer-join .footer-button {
    justify-content: space-around;
    min-width: 200px;
  }
}

/* ====================== PARTFOLIO-MOBILE =======================================*/
/* ======================PARTFOLIO-BUTTONS-MOBILE =======================================*/
.button-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.button-list .button {
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px;
  min-height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  border-radius: 4px;
  transition: color, background-color 250ms, 250ms cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list .button:hover, .button-list .button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  outline: none;
}

/* ======================PARTFOLIO-BUTTONS-TABLET =======================================*/
@media screen and (min-width: 768px) {
  .button-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  .button-list .button {
    margin-bottom: 0;
  }
}

/* ======================PARTFOLIO-BUTTONS-DASKTOP======================================*/
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

/* ======================PARTFOLIO-MAIN-MOBILE======================================*/
.partfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partfolio-list .title {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}

.partfolio-list .text {
  display: block;
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  text-align: left;
  line-height: 1.9;
  color: #757575;
}

.partfolio-list .item {
  width: 100%;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.partfolio-list .item:not(:last-child) {
  margin-bottom: 30px;
}

/* ======================PARTFOLIO-MAIN-TABLET======================================*/
@media screen and (min-width: 768px) {
  .partfolio-list {
    flex-wrap: wrap;
    justify-content: start;
  }
  .partfolio-list .item {
    width: calc((100% - 30px) / 2);
  }
  .partfolio-list .item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .partfolio-list .item:last-child {
    margin-right: 0;
  }
}

/* ======================PARTFOLIO-MAIN-DASKTOP======================================*/
@media screen and (min-width: 1200px) {
  .partfolio-list .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .partfolio-list .item:nth-child(3n+3) {
    margin-right: 0;
  }
}

/* ====================== TRANSFORM-=======================================*/
.thumb-text-cart {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.text-cart {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 63px 24px;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.item:hover .text-cart {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */