/* ====================== HEADER-MOBILE =====================================*/
.header{
  border: 1px solid #ECECEC;

  .logo{
    margin: 16px auto 16px 15px;
    padding: 0;
  }
}
.navi-list {
  .link{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: $text-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus{
      color: $akcent-color;
    }
    &.current{
      color: $akcent-color;
    }
  }
}
.header-contact {
  .link{
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secindary-text-color;
    text-decoration: none; 
  }
}
/* ====================== HEADER-MOBILE-MENU =====================================*/
@media screen and (max-width:767px){
  .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
      
    .mobile-button-open{
      display: block;
      margin: 22px 0 23px 0;
      padding:0;
      
      border: none;
      outline: none;
      background-color: #FFFFFF;
    }
  }
  .mobile-button-open:hover .mobile-open-svg{
      fill:$akcent-color;
  }
  .header-wraper{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    left: 0%;
    padding: 48px 40px;
    background-color: #FFFFFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.is-open{
      opacity: 1;
      visibility: visible;
      pointer-events:visible;
    }
    .mobile-button-close{
      position: absolute;
      top: 2%;
      right: 2%;
      display: block;
      margin: 0;
      padding:0;
      
      border: none;
      outline: none;
      background-color: #FFFFFF;
    }
  }
  .mobile-button-close:hover .mobile-close-svg{
    fill:$akcent-color;
  }
  .navi-list .item{
    margin-bottom: 32px;
  }
  .header-contact{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 190px;
    margin-bottom: 0;

    .item:first-child{
      margin-bottom:0 ;
    }
    .item{
      margin-bottom: 32px;

      .tel{
        color:$akcent-color;
      }
      .mail{
        font-size: 24px;
      }
    }
    .icon-header{
      opacity: 0;
    }
  }
  .header-social{
    display: flex;
     
    .header-social-link{
      display: inline-block;
      padding: 0 10px;
      margin-top: 50px;

      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color:$akcent-color;
      border-right: 1px solid rgba(33, 33, 33, 0.2);

    }
  }
}
/* ====================== HEADER-TABLET =====================================*/
@media screen and (min-width: 768px){
  .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .header-social{
      display: none;
    }
  }
  .header-menu{
    margin-right: 88px;
    
    .logo{
      margin:26px 0;
    }
    .mobile-button-open{
      display: none;
    }
  }
  .header-wraper{
    position:relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
      
    width: 100%;
    margin: 0;
    padding: 0;

    .mobile-button-close{
      display: none;
    }
  }
  .navi-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;

    .item:not(:last-child){
      margin-right: 50px;
    }
    .link{
      position: relative;
      display:block;
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 14px;
      line-height: 1.14;
    }
  }
  .navi-list .link.current::after{
    content:"";
    position: absolute;
    left:0;
    bottom:0%;
    
    margin-bottom:0;
    margin-top: 28px;

    display:block;
    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 5px;
  }
  .header-contact{
    margin-left: auto;
    margin-right: 0;

    .link{
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.14;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover,
      &:focus{
        color: $akcent-color;
      }
      .icon-header{
        margin-right: 10px;
        fill: $secindary-text-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
.header-contact .link:focus .icon-header,
.header-contact .link:hover .icon-header{
  fill: $akcent-color;
}
}
/* ====================== HEADER-DASKTOP =====================================*/
@media screen and (min-width: 1200px){
  .header-menu{
    margin-right: 93px;
    
    .logo{
      margin:25px  0px;
      min-width: 145px;
    }
  }
  .header-wraper {
    display: flex;
    justify-content:flex-end;
    margin:0;
    
    .navi-list{
      justify-content:center;
      margin-right:auto;
      margin-left: 0;
    }
    .header-contact{
      display: flex;
      justify-content: flex-end;
    
      .item:not(:last-child){
        margin-right: 30px;
      }
    }
  }
}
