/* ====================== Components ================================*/
  .logo {
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    color: $akcent-color;
    text-decoration: none;
  }
  .logo-black {
    color: #000000;
  }
  .logo-white {
    color: #ffffff;
  }
  