.section {
  width:100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width:1200px){
.section {
    width: 100%;
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.section.hero{
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width:1200px){
  .section.hero{
    padding-top: 200px;
    padding-bottom: 200px;
  }
}