.title {
   margin-bottom: 30px;

   font-weight: bold;
   font-size: 28px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-align: center;
   color: $text-color;
}
@media screen and (min-width:768px){
   .title{
      font-style: normal;
   }
}
@media screen and (min-width:1200px){
   .title{
      margin-bottom: 50px;

      font-style: normal;
      font-size: 36px;
      line-height: 1.16;
   }
}
